
.register-account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.register-account h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2rem;
}

.register-account p {
  text-align: center;
  font-weight: 900;
}

.register-account .login__button {
  color: rgb(130, 56, 241);
  font-weight: lighter;
  text-decoration: none;
}